td.diff-deletedline {
	background: rgba(125, 210, 130, 0.1);
	border-color: rgba(125, 210, 130, 0.3);
}

td.diff-addedline {
	background: rgba(100, 155, 255, 0.1);
	border-color: rgba(100, 155, 255, 0.3);
}

td.diff-context {
	background: rgba(90, 90, 90, 0.1);
	border-color: rgba(90, 90, 90, 0.3);
}

td.diff-context div {
	font-style: italic;
	color: #555;
}

td.diff-addedline div,
td.diff-deletedline div,
td.diff-context div {
	padding: 2px 4px 1px 6px;
}

td.diff-addedline .diffchange,
td.diff-deletedline .diffchange {
	background: transparent;
	padding-bottom: 1px;
	color: #c00;
}

td.diff-addedline .diffchange {
	/* @embed */
	background: url(images/squiggle-blue.png) repeat-x bottom;
}

td.diff-deletedline .diffchange {
	/* @embed */
	background: url(images/squiggle-green.png) repeat-x bottom;
}

table.diff td {
	padding: 0.2em 0.3em 0.1em;
}

td.diff-marker {
	font-size: 1em;
}

table.diff {
	background: transparent;
}
